.color-red {
    background-color: rgba( 255, 153, 153, 0.40 ) !important;
}

.color-green {
    background-color: rgba( 173, 245, 150, 0.40 ) !important;
}

.color-yellow {
    background-color: rgba( 255, 255, 0, 0.40 ) !important;
}