body {
    overflow-y: scroll;
}

.inherit {
    font-size: inherit;
    color: inherit;
    border: inherit;
    background-color: inherit;
}

.sweet-alert {
    z-index: 20000 !important;
}

.page-header .navbar .topbar-actions .btn-phone .btn {
    top: 7px;
}

.media-buttons {
    margin-left: 15px;
}

.media-text {
    padding: 5px;
    margin: 5px 0;
    background: #fff;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.toggle {
    width: 14px;
    height: 16px;
    text-decoration: none !important;
}

.toggle._collapse {
    background-image: url(../img/portlet-collapse-icon.png);
}

.toggle._expand {
    background-image: url(../img/portlet-expand-icon.png);
}

.ui-autocomplete-loading {
    background: url( '/images/loading.gif' ) no-repeat center center !important;
}

.pagebreak { page-break-before: always; }

@media (max-width: 767px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.select2 {
    width: 100% !important;
}

.table-condensed th, .table-condensed td {
    font-size: 12px !important;
    vertical-align: middle !important;
}

#user-info {
    color: #ffffff;
    position: absolute;
    right: 30px;
    top: 15px;
}

#queues {
    color: #ffffff;
}