.inherit {
    font-size: inherit;
    color: inherit;
    border: inherit;
    background-color: inherit;
}

.page-header .navbar .topbar-actions .btn-phone .btn {
    top: 7px;
}

.datepicker {
    z-index: 999999;
}

.media-buttons {
    margin-left: 15px;
}