@media print
{

    body
    {
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    a[href]:after {
        content: none !important;
    }

    .table td, .table th {
        padding: 2px !important;
    }

    .mt-element-ribbon {
        position: static !important;
        margin: 0 !important;
    }

    .ribbon {
        left: 0 !important;
        top: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .ribbon-sub {
        display: none !important;
    }

    .mt-checkbox {
        padding: 0 !important;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent !important;;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent !important;;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent !important;;
    }

}