img.pull-left {
    margin-right: 15px !important;
}

img.pull-right {
    margin-left: 15px !important;
}

.portlet-body {
    min-height: 300px;
}

.news-title {
    border-bottom: 1px solid #eee;
    margin-left: -15px;
    margin-right: -15px;
}